@media only screen and (max-width: 800px) {
    .wrapper {
        padding: 20px; /* Add some padding to the wrapper on smaller screens */
    }

    .logo {
        display: none; /* Hide the logo on smaller screens */
    }

    .tic-tac-toe {
        max-width: 100%;
        padding: 1rem;
    }

    .box {
        font-size: 2rem;
    }
}

/* Media queries for larger screens */
@media only screen and (min-width: 1200px) {
    .tic-tac-toe {
        max-width: 30rem;
    }
}



*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo img{
    height: 100px;
    width: 100px;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 0;
}
.logo h1{
    color: white;
    padding: 20px;
    position: absolute;
    left: 4.3rem;
    top: 8px;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-image: url(./images/gradient.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}

.game-info{
    color: white;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.155);
    padding: 0.5rem 2rem;
    border-radius: 0.8rem;
    border: 1px solid rgba(255, 255, 255, 0.253);
    text-align: center;

    /* box-shadow:5px 5px 4px rgba(99, 99, 99, 0.546); */
}

.tic-tac-toe{
    width: 90%;
    max-width: 20rem;
    background-color: rgba(255, 255, 255, 0.155);
    padding: 2rem;
    border-radius: 0.8rem;
    border: 1px solid rgba(255, 255, 255, 0.253);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    aspect-ratio: 1/1;
}

.box{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1, .box2, .box4, .box5{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
.box3, .box6{
    border-bottom: 2px solid white;
}
.box7, .box8{
    border-right: 2px solid white;
}

.btn{
    color: white;
    /* position: absolute; */
    bottom: 3rem;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    cursor: pointer;

    background-color: rgba(255, 255, 255, 0.155);
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.253);

    /* for hiding button  */
    display: none;
}

.btn.active{
    display: flex;
}

.win{
    background-color: rgba(183, 251, 82, 0.756);
}
